In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#for avoid warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
Stock_analysis1=pd.read_csv("C:/Globsyn/selected/AAPL_data.csv",parse_dates=True, index_col=0)

In [3]:
Stock_analysis1

                open      high       low     close     volume  Name
date
2013-02-08   67.7142   68.4014   66.8928   67.8542  158168416  AAPL
2013-02-11   68.0714   69.2771   67.6071   68.5614  129029425  AAPL
2013-02-12   68.5014   68.9114   66.8205   66.8428  151829363  AAPL
2013-02-13   66.7442   67.6628   66.1742   66.7156  118721995  AAPL
2013-02-14   66.3599   67.3771   66.2885   66.6556   88809154  AAPL
2013-02-15   66.9785   67.1656   65.7028   65.7371   97924631  AAPL
2013-02-19   65.8714   66.1042   64.8356   65.7128  108854046  AAPL
2013-02-20   65.3842   65.3842   64.1142   64.1214  118891367  AAPL
2013-02-21   63.7142   64.1671   63.2599   63.7228  111596821  AAPL
2013-02-22   64.1785   64.5142   63.7999   64.4014   82583823  AAPL
2013-02-25   64.8356   65.0171   63.2242   63.2571   92899597  AAPL
2013-02-26   63.4028   64.5056   62.5228   64.1385  125096657  AAPL
2013-02-27   64.0614   64.6342   62.9499   63.5099  146674682  AAPL
2013-02-28   63.4357   63.9814   63.0571   63.0571   80532382  AAPL
2013-03-01   62.5714   62.5971   61.4257   61.4957  137899041  AAPL
2013-03-04   61.1142   61.1714   59.8571   60.0071  145406366  AAPL
2013-03-05   60.2114   62.1699   60.1071   61.5919  159298020  AAPL
2013-03-06   62.0728   62.1785   60.6328   60.8088  114903180  AAPL
2013-03-07   60.6428   61.7157   60.1514   61.5117  116992841  AAPL
2013-03-08   61.3999   62.2042   61.2299   61.6742   97854442  AAPL
2013-03-11   61.3928   62.7157   60.7342   62.5528  118272126  AAPL
2013-03-12   62.2285   62.6971   61.0814   61.2042  116268341  AAPL
2013-03-13   61.2071   62.0714   60.7657   61.1928  101369051  AAPL
2013-03-14   61.8328   62.0914   61.4928   61.7857   75834906  AAPL
2013-03-15   62.5614   63.4614   62.4642   63.3799  160710606  AAPL
2013-03-18   63.0642   65.3514   63.0285   65.1028  150441144  AAPL
2013-03-19   65.6428   65.8528   64.0714   64.9271  131531708  AAPL
2013-03-20   65.3456   65.3756   64.2271   64.5828   77016849  AAPL
2013-03-21   64.3171   65.4256   64.2999   64.6756   95493524  AAPL
2013-03-22   64.9399   66.0142   64.7299   65.9871   98570591  AAPL
...              ...       ...       ...       ...        ...   ...
2017-12-26  170.8000  171.4700  169.6790  170.5700   33185536  AAPL
2017-12-27  170.1000  170.7800  169.7100  170.6000   21498213  AAPL
2017-12-28  171.0000  171.8500  170.4800  171.0800   16480187  AAPL
2017-12-29  170.5200  170.5900  169.2200  169.2300   25999922  AAPL
2018-01-02  170.1600  172.3000  169.2600  172.2600   25555934  AAPL
2018-01-03  172.5300  174.5500  171.9600  172.2300   29517899  AAPL
2018-01-04  172.5400  173.4700  172.0800  173.0300   22434597  AAPL
2018-01-05  173.4400  175.3700  173.0500  175.0000   23660018  AAPL
2018-01-08  174.3500  175.6100  173.9300  174.3500   20567766  AAPL
2018-01-09  174.5500  175.0600  173.4100  174.3300   21583997  AAPL
2018-01-10  173.1600  174.3000  173.0000  174.2900   23959895  AAPL
2018-01-11  174.5900  175.4886  174.4900  175.2800   18667729  AAPL
2018-01-12  176.1800  177.3600  175.6500  177.0900   25418080  AAPL
2018-01-16  177.9000  179.3900  176.1400  176.1900   29565947  AAPL
2018-01-17  176.1500  179.2500  175.0700  179.1000   34386836  AAPL
2018-01-18  179.3700  180.1000  178.2500  179.2600   31193352  AAPL
2018-01-19  178.6100  179.5800  177.4100  178.4600   32425067  AAPL
2018-01-22  177.3000  177.7800  176.6016  177.0000   27108551  AAPL
2018-01-23  177.3000  179.4400  176.8200  177.0400   32689146  AAPL
2018-01-24  177.2500  177.3000  173.2000  174.2200   51105090  AAPL
2018-01-25  174.5050  174.9500  170.5300  171.1100   41529004  AAPL
2018-01-26  172.0000  172.0000  170.0600  171.5100   39143011  AAPL
2018-01-29  170.1600  170.1600  167.0700  167.9600   50640406  AAPL
2018-01-30  165.5250  167.3700  164.7000  166.9700   46048185  AAPL
2018-01-31  166.8700  168.4417  166.5000  167.4300   32478930  AAPL
2018-02-01  167.1650  168.6200  166.7600  167.7800   47230787  AAPL
2018-02-02  166.0000  166.8000  160.1000  160.5000   86593825  AAPL
2018-02-05  159.1000  163.8800  156.0000  156.4900   72738522  AAPL
2018-02-06  154.8300  163.7200  154.0000  163.0300   68243838  AAPL
2018-02-07  163.0850  163.4000  159.0685  159.5400   51608580  AAPL

[1259 rows x 6 columns]

In [4]:
Stock_analysis2=pd.read_csv("C:/Globsyn/selected/AMZN_data.csv",parse_dates=True, index_col=0)

In [5]:
Stock_analysis2

               open      high        low     close    volume  Name
date
2013-02-08   261.40   265.250   260.5550   261.950   3879078  AMZN
2013-02-11   263.20   263.250   256.6000   257.210   3403403  AMZN
2013-02-12   259.19   260.160   257.0000   258.700   2938660  AMZN
2013-02-13   261.53   269.960   260.3000   269.470   5292996  AMZN
2013-02-14   267.37   270.650   265.4000   269.240   3462780  AMZN
2013-02-15   267.63   268.920   263.1100   265.090   3979832  AMZN
2013-02-19   265.91   270.110   264.5000   269.750   2853752  AMZN
2013-02-20   270.20   274.300   266.3710   266.410   3528862  AMZN
2013-02-21   265.12   269.480   263.2500   265.940   3637396  AMZN
2013-02-22   266.62   267.110   261.6100   265.420   3123402  AMZN
2013-02-25   266.94   268.694   259.6500   259.870   3032109  AMZN
2013-02-26   260.89   262.040   255.7300   259.360   3348011  AMZN
2013-02-27   259.40   265.830   256.8600   263.250   2908010  AMZN
2013-02-28   261.81   267.000   260.6300   264.270   2667199  AMZN
2013-03-01   263.27   266.600   261.0400   265.740   2956724  AMZN
2013-03-04   265.36   273.300   264.1400   273.110   3452783  AMZN
2013-03-05   274.00   276.680   269.9900   275.590   3685983  AMZN
2013-03-06   275.76   276.489   271.8320   273.790   2050452  AMZN
2013-03-07   274.10   274.800   271.8500   273.880   1938987  AMZN
2013-03-08   275.00   275.440   271.5000   274.190   1879762  AMZN
2013-03-11   273.43   273.990   270.4000   271.240   1904465  AMZN
2013-03-12   271.00   277.400   270.3601   274.130   3245906  AMZN
2013-03-13   275.24   276.500   272.6400   275.100   1884115  AMZN
2013-03-14   269.67   270.000   263.5300   265.740   5226150  AMZN
2013-03-15   264.98   267.260   260.0500   261.820   4865572  AMZN
2013-03-18   259.30   261.490   257.1200   257.890   2719833  AMZN
2013-03-19   258.40   259.500   252.6200   256.410   3738396  AMZN
2013-03-20   258.05   259.760   254.5501   257.278   2734710  AMZN
2013-03-21   256.11   257.000   252.6800   253.390   2805646  AMZN
2013-03-22   254.55   257.770   252.0700   257.750   3124199  AMZN
...             ...       ...        ...       ...       ...   ...
2017-12-26  1168.36  1178.320  1160.5500  1176.760   2005187  AMZN
2017-12-27  1179.91  1187.290  1175.6100  1182.260   1867208  AMZN
2017-12-28  1189.00  1190.100  1184.3800  1186.100   1841676  AMZN
2017-12-29  1182.35  1184.000  1167.5000  1169.470   2688391  AMZN
2018-01-02  1172.00  1190.000  1170.5100  1189.010   2694494  AMZN
2018-01-03  1188.30  1205.490  1188.3000  1204.200   3108793  AMZN
2018-01-04  1205.00  1215.870  1204.6600  1209.590   3022089  AMZN
2018-01-05  1217.51  1229.140  1210.0000  1229.140   3544743  AMZN
2018-01-08  1236.00  1253.080  1232.0300  1246.870   4279475  AMZN
2018-01-09  1256.90  1259.330  1241.7600  1252.700   3661316  AMZN
2018-01-10  1245.15  1254.330  1237.2300  1254.330   2686017  AMZN
2018-01-11  1259.74  1276.770  1256.4600  1276.680   3125048  AMZN
2018-01-12  1273.39  1305.760  1273.3900  1305.200   5443730  AMZN
2018-01-16  1323.00  1339.940  1292.3000  1304.860   7220701  AMZN
2018-01-17  1312.24  1314.000  1280.8800  1295.000   5253754  AMZN
2018-01-18  1293.95  1304.600  1284.0200  1293.320   4026915  AMZN
2018-01-19  1312.00  1313.000  1292.9900  1294.580   4578536  AMZN
2018-01-22  1297.17  1327.450  1296.6600  1327.310   4140061  AMZN
2018-01-23  1338.09  1364.900  1337.3400  1362.540   5169306  AMZN
2018-01-24  1374.82  1388.160  1338.0000  1357.510   6807457  AMZN
2018-01-25  1368.00  1378.340  1357.6200  1377.950   4753012  AMZN
2018-01-26  1392.01  1402.530  1380.9100  1402.050   4857310  AMZN
2018-01-29  1409.18  1431.390  1400.4400  1417.680   5701898  AMZN
2018-01-30  1403.17  1439.250  1392.0000  1437.820   5871942  AMZN
2018-01-31  1451.30  1472.580  1450.0400  1450.890   6424693  AMZN
2018-02-01  1445.00  1459.880  1385.1400  1390.000   9113808  AMZN
2018-02-02  1477.39  1498.000  1414.0000  1429.950  11125722  AMZN
2018-02-05  1402.62  1458.980  1320.7200  1390.000  11494985  AMZN
2018-02-06  1361.46  1443.990  1351.7900  1442.840  11066819  AMZN
2018-02-07  1449.00  1460.990  1415.1500  1416.780   7162741  AMZN

[1259 rows x 6 columns]

In [6]:
Stock_analysis3=pd.read_csv("C:/Globsyn/selected/GOOGL_data.csv",parse_dates=True, index_col=0)

In [7]:
Stock_analysis3

                 open       high        low      close   volume   Name
date
2013-02-08   390.4551   393.7283   390.1698   393.0777  6031199  GOOGL
2013-02-11   389.5892   391.8915   387.2619   391.6012  4330781  GOOGL
2013-02-12   391.2659   394.3440   390.0747   390.7403  3714176  GOOGL
2013-02-13   390.4551   393.0677   390.3750   391.8214  2393946  GOOGL
2013-02-14   390.2549   394.7644   389.2739   394.3039  3466971  GOOGL
2013-02-15   394.0937   397.0266   393.9285   396.8414  5453980  GOOGL
2013-02-19   398.3930   403.9035   398.0376   403.8284  5857528  GOOGL
2013-02-20   403.0527   404.8895   396.2929   396.6262  5522500  GOOGL
2013-02-21   399.3990   403.1277   396.0056   398.1628  7008464  GOOGL
2013-02-22   400.0296   401.0256   397.2969   400.2549  4103315  GOOGL
2013-02-25   401.5512   404.6092   395.6402   395.7804  4602925  GOOGL
2013-02-26   397.8975   398.3729   392.5922   395.4601  4399988  GOOGL
2013-02-27   397.7974   402.7774   395.9506   400.2899  4047784  GOOGL
2013-02-28   400.9506   403.8985   400.9155   401.0006  4526218  GOOGL
2013-03-01   399.2989   403.9736   398.4731   403.4981  4346304  GOOGL
2013-03-04   403.0527   411.8314   402.9025   411.1628  5545624  GOOGL
2013-03-05   414.8795   420.4950   414.8644   419.7213  8079065  GOOGL
2013-03-06   420.9330   422.4220   414.8194   416.1057  5739956  GOOGL
2013-03-07   417.4470   418.7283   415.2048   416.7143  4101301  GOOGL
2013-03-08   417.6673   417.8774   412.9375   416.1758  5817848  GOOGL
2013-03-11   416.2608   420.2699   416.1658   417.8274  3186118  GOOGL
2013-03-12   415.7704   416.3609   412.2468   414.2188  4012146  GOOGL
2013-03-13   414.3639   415.7603   411.5662   413.0677  3279147  GOOGL
2013-03-14   413.9085   413.9085   409.1037   411.1808  3298723  GOOGL
2013-03-15   409.6592   410.5602   407.0767   407.5582  6191734  GOOGL
2013-03-18   402.9025   406.7864   401.1357   404.2989  3672831  GOOGL
2013-03-19   406.0256   410.0346   403.6282   406.0657  4191219  GOOGL
2013-03-20   408.8234   409.1638   406.1257   407.7614  2924120  GOOGL
2013-03-21   406.0506   408.8671   405.3299   406.0356  2930649  GOOGL
2013-03-22   407.7774   408.0276   405.2248   405.5602  2973343  GOOGL
...               ...        ...        ...        ...      ...    ...
2017-12-26  1068.6400  1068.8600  1058.6400  1065.8500   918767  GOOGL
2017-12-27  1066.6000  1068.2700  1058.3800  1060.2000  1116203  GOOGL
2017-12-28  1062.2500  1064.8400  1053.3800  1055.9500   994249  GOOGL
2017-12-29  1055.4900  1058.0500  1052.7000  1053.4000  1180340  GOOGL
2018-01-02  1053.0200  1075.9800  1053.0200  1073.2100  1588268  GOOGL
2018-01-03  1073.9300  1096.1000  1073.4300  1091.5200  1565945  GOOGL
2018-01-04  1097.0900  1104.0800  1094.2600  1095.7600  1302569  GOOGL
2018-01-05  1103.4500  1113.5800  1101.8000  1110.2900  1512526  GOOGL
2018-01-08  1111.0000  1119.1600  1110.0000  1114.2100  1232221  GOOGL
2018-01-09  1118.4400  1118.4400  1108.2000  1112.7900  1340381  GOOGL
2018-01-10  1107.0000  1112.7800  1103.9800  1110.1400  1036655  GOOGL
2018-01-11  1112.3100  1114.8500  1106.4800  1112.0500  1121216  GOOGL
2018-01-12  1110.1000  1131.3000  1108.0100  1130.6500  1929306  GOOGL
2018-01-16  1140.3100  1148.8800  1126.6600  1130.7000  1823100  GOOGL
2018-01-17  1136.3600  1139.3200  1123.4900  1139.1000  1391510  GOOGL
2018-01-18  1139.3500  1140.5900  1124.4600  1135.9700  1374873  GOOGL
2018-01-19  1138.0300  1143.7800  1132.5000  1143.5000  1527554  GOOGL
2018-01-22  1143.8200  1166.8800  1141.8200  1164.1600  1477520  GOOGL
2018-01-23  1170.6200  1178.5100  1167.2500  1176.1700  1956865  GOOGL
2018-01-24  1184.9800  1187.0500  1167.4000  1171.2900  1856429  GOOGL
2018-01-25  1180.7100  1185.0000  1171.8400  1182.1400  1499247  GOOGL
2018-01-26  1187.5300  1187.5600  1168.0300  1187.5600  2108502  GOOGL
2018-01-29  1188.0000  1198.0000  1184.0600  1186.4800  1574708  GOOGL
2018-01-30  1177.7200  1187.9300  1174.5100  1177.3700  1866883  GOOGL
2018-01-31  1183.8100  1186.3200  1172.1000  1182.2200  1801135  GOOGL
2018-02-01  1175.9900  1187.4500  1169.3600  1181.5900  3675709  GOOGL
2018-02-02  1127.4200  1131.3000  1111.1700  1119.2000  5892122  GOOGL
2018-02-05  1100.6100  1114.9900  1056.7400  1062.3900  4177469  GOOGL
2018-02-06  1033.9800  1087.3800  1030.0100  1084.4300  3831524  GOOGL
2018-02-07  1084.9700  1086.5300  1054.6200  1055.4100  2597094  GOOGL

[1259 rows x 6 columns]

In [8]:
Stock_analysis4=pd.read_csv("C:/Globsyn/selected/MSFT_data.csv",parse_dates=True, index_col=0)

In [ ]:
Stock_analysis4 #volume=how many shares have been traded(cp+sp)

               open     high      low   close    volume  Name
date
2013-02-08  27.3500  27.7100  27.3100  27.550  33318306  MSFT
2013-02-11  27.6500  27.9200  27.5000  27.860  32247549  MSFT
2013-02-12  27.8800  28.0000  27.7500  27.880  35990829  MSFT
2013-02-13  27.9300  28.1100  27.8800  28.030  41715530  MSFT
2013-02-14  27.9200  28.0600  27.8700  28.040  32663174  MSFT
2013-02-15  28.0400  28.1600  27.8750  28.010  49650538  MSFT
2013-02-19  27.8801  28.0900  27.8000  28.045  38804616  MSFT
2013-02-20  28.1300  28.2000  27.8300  27.870  44109412  MSFT
2013-02-21  27.7400  27.7400  27.2300  27.490  49078338  MSFT
2013-02-22  27.6800  27.7600  27.4800  27.760  31425726  MSFT
2013-02-25  27.9700  28.0500  27.3700  27.370  48011248  MSFT
2013-02-26  27.3800  27.6000  27.3400  27.370  49917353  MSFT
2013-02-27  27.4200  28.0000  27.3300  27.810  36390889  MSFT
2013-02-28  27.8800  27.9700  27.7400  27.800  35836861  MSFT
2013-03-01  27.7200  27.9800  27.5200  27.950  34849287  MSFT
2013-03-04  27.8500  28.1500  27.7000  28.150  38163549  MSFT
2013-03-05  28.2900  28.5400  28.1600  28.350  41431097  MSFT
2013-03-06  28.2100  28.2300  27.7800  28.090  51448452  MSFT
2013-03-07  28.1100  28.2800  28.0050  28.140  29196691  MSFT
2013-03-08  28.2500  28.3300  27.9600  28.000  37667133  MSFT
2013-03-11  27.9400  27.9700  27.6700  27.870  36627200  MSFT
2013-03-12  27.8400  27.9500  27.6400  27.910  39252591  MSFT
2013-03-13  27.8700  28.0200  27.7500  27.915  29093296  MSFT
2013-03-14  28.0000  28.1600  27.9300  28.135  55910657  MSFT
2013-03-15  28.0300  28.1600  27.9800  28.035  92709815  MSFT
2013-03-18  27.8800  28.2800  27.8100  28.100  44825522  MSFT
2013-03-19  28.1200  28.2200  28.0300  28.180  51901568  MSFT
2013-03-20  28.3400  28.4900  28.1800  28.315  35447348  MSFT
2013-03-21  28.1100  28.3600  28.0500  28.110  34233061  MSFT
2013-03-22  28.1900  28.3379  28.1000  28.250  28689434  MSFT
...             ...      ...      ...     ...       ...   ...
2017-12-26  85.3100  85.5346  85.0300  85.400   9891237  MSFT
2017-12-27  85.6500  85.9800  85.2150  85.710  14678025  MSFT
2017-12-28  85.9000  85.9300  85.5500  85.720  10594344  MSFT
2017-12-29  85.6300  86.0500  85.5000  85.540  18717406  MSFT
2018-01-02  86.1250  86.3100  85.5000  85.950  22483797  MSFT
2018-01-03  86.0550  86.5100  85.9700  86.350  26061439  MSFT
2018-01-04  86.5900  87.6600  86.5700  87.110  21911974  MSFT
2018-01-05  87.6600  88.4100  87.4300  88.190  23407110  MSFT
2018-01-08  88.2000  88.5800  87.6046  88.280  22113049  MSFT
2018-01-09  88.6500  88.7272  87.8600  88.220  19484317  MSFT
2018-01-10  87.8600  88.1900  87.4100  87.820  18652201  MSFT
2018-01-11  88.1300  88.1300  87.2400  88.080  17808877  MSFT
2018-01-12  88.6700  89.7800  88.4500  89.600  24271531  MSFT
2018-01-16  90.1000  90.7900  88.0104  88.350  36599736  MSFT
2018-01-17  89.0800  90.2800  88.7500  90.140  25621164  MSFT
2018-01-18  89.8000  90.6700  89.6600  90.100  24159683  MSFT
2018-01-19  90.1400  90.6100  89.6600  90.000  36875013  MSFT
2018-01-22  90.0000  91.6200  89.7400  91.610  23601555  MSFT
2018-01-23  91.9000  92.3000  91.5400  91.900  23412841  MSFT
2018-01-24  92.5500  93.4300  91.5800  91.820  33277483  MSFT
2018-01-25  92.4650  93.2400  91.9300  92.330  26383238  MSFT
2018-01-26  93.1200  94.0600  92.5800  94.060  29172167  MSFT
2018-01-29  95.1400  95.4500  93.7200  93.920  31569940  MSFT
2018-01-30  93.3000  93.6600  92.1000  92.740  38635053  MSFT
2018-01-31  93.7500  95.4000  93.5100  95.010  48756338  MSFT
2018-02-01  94.7900  96.0700  93.5813  94.260  47227882  MSFT
2018-02-02  93.6400  93.9700  91.5000  91.780  47867753  MSFT
2018-02-05  90.5600  93.2400  88.0000  88.000  51031465  MSFT
2018-02-06  86.8900  91.4750  85.2500  91.330  67998564  MSFT
2018-02-07  90.4900  91.7700  89.2000  89.610  41107592  MSFT

[1259 rows x 6 columns]

In [ ]:
Stock_analysis1[:1]

               open     high      low    close     volume  Name
date
2013-02-08  67.7142  68.4014  66.8928  67.8542  158168416  AAPL

In [ ]:
Stock_analysis4[Stock_analysis4['close']>=27.35]

               open     high      low   close    volume  Name
date
2013-02-08  27.3500  27.7100  27.3100  27.550  33318306  MSFT
2013-02-11  27.6500  27.9200  27.5000  27.860  32247549  MSFT
2013-02-12  27.8800  28.0000  27.7500  27.880  35990829  MSFT
2013-02-13  27.9300  28.1100  27.8800  28.030  41715530  MSFT
2013-02-14  27.9200  28.0600  27.8700  28.040  32663174  MSFT
2013-02-15  28.0400  28.1600  27.8750  28.010  49650538  MSFT
2013-02-19  27.8801  28.0900  27.8000  28.045  38804616  MSFT
2013-02-20  28.1300  28.2000  27.8300  27.870  44109412  MSFT
2013-02-21  27.7400  27.7400  27.2300  27.490  49078338  MSFT
2013-02-22  27.6800  27.7600  27.4800  27.760  31425726  MSFT
2013-02-25  27.9700  28.0500  27.3700  27.370  48011248  MSFT
2013-02-26  27.3800  27.6000  27.3400  27.370  49917353  MSFT
2013-02-27  27.4200  28.0000  27.3300  27.810  36390889  MSFT
2013-02-28  27.8800  27.9700  27.7400  27.800  35836861  MSFT
2013-03-01  27.7200  27.9800  27.5200  27.950  34849287  MSFT
2013-03-04  27.8500  28.1500  27.7000  28.150  38163549  MSFT
2013-03-05  28.2900  28.5400  28.1600  28.350  41431097  MSFT
2013-03-06  28.2100  28.2300  27.7800  28.090  51448452  MSFT
2013-03-07  28.1100  28.2800  28.0050  28.140  29196691  MSFT
2013-03-08  28.2500  28.3300  27.9600  28.000  37667133  MSFT
2013-03-11  27.9400  27.9700  27.6700  27.870  36627200  MSFT
2013-03-12  27.8400  27.9500  27.6400  27.910  39252591  MSFT
2013-03-13  27.8700  28.0200  27.7500  27.915  29093296  MSFT
2013-03-14  28.0000  28.1600  27.9300  28.135  55910657  MSFT
2013-03-15  28.0300  28.1600  27.9800  28.035  92709815  MSFT
2013-03-18  27.8800  28.2800  27.8100  28.100  44825522  MSFT
2013-03-19  28.1200  28.2200  28.0300  28.180  51901568  MSFT
2013-03-20  28.3400  28.4900  28.1800  28.315  35447348  MSFT
2013-03-21  28.1100  28.3600  28.0500  28.110  34233061  MSFT
2013-03-22  28.1900  28.3379  28.1000  28.250  28689434  MSFT
...             ...      ...      ...     ...       ...   ...
2017-12-26  85.3100  85.5346  85.0300  85.400   9891237  MSFT
2017-12-27  85.6500  85.9800  85.2150  85.710  14678025  MSFT
2017-12-28  85.9000  85.9300  85.5500  85.720  10594344  MSFT
2017-12-29  85.6300  86.0500  85.5000  85.540  18717406  MSFT
2018-01-02  86.1250  86.3100  85.5000  85.950  22483797  MSFT
2018-01-03  86.0550  86.5100  85.9700  86.350  26061439  MSFT
2018-01-04  86.5900  87.6600  86.5700  87.110  21911974  MSFT
2018-01-05  87.6600  88.4100  87.4300  88.190  23407110  MSFT
2018-01-08  88.2000  88.5800  87.6046  88.280  22113049  MSFT
2018-01-09  88.6500  88.7272  87.8600  88.220  19484317  MSFT
2018-01-10  87.8600  88.1900  87.4100  87.820  18652201  MSFT
2018-01-11  88.1300  88.1300  87.2400  88.080  17808877  MSFT
2018-01-12  88.6700  89.7800  88.4500  89.600  24271531  MSFT
2018-01-16  90.1000  90.7900  88.0104  88.350  36599736  MSFT
2018-01-17  89.0800  90.2800  88.7500  90.140  25621164  MSFT
2018-01-18  89.8000  90.6700  89.6600  90.100  24159683  MSFT
2018-01-19  90.1400  90.6100  89.6600  90.000  36875013  MSFT
2018-01-22  90.0000  91.6200  89.7400  91.610  23601555  MSFT
2018-01-23  91.9000  92.3000  91.5400  91.900  23412841  MSFT
2018-01-24  92.5500  93.4300  91.5800  91.820  33277483  MSFT
2018-01-25  92.4650  93.2400  91.9300  92.330  26383238  MSFT
2018-01-26  93.1200  94.0600  92.5800  94.060  29172167  MSFT
2018-01-29  95.1400  95.4500  93.7200  93.920  31569940  MSFT
2018-01-30  93.3000  93.6600  92.1000  92.740  38635053  MSFT
2018-01-31  93.7500  95.4000  93.5100  95.010  48756338  MSFT
2018-02-01  94.7900  96.0700  93.5813  94.260  47227882  MSFT
2018-02-02  93.6400  93.9700  91.5000  91.780  47867753  MSFT
2018-02-05  90.5600  93.2400  88.0000  88.000  51031465  MSFT
2018-02-06  86.8900  91.4750  85.2500  91.330  67998564  MSFT
2018-02-07  90.4900  91.7700  89.2000  89.610  41107592  MSFT

[1259 rows x 6 columns]

In [ ]:
Stock_analysis4.isnull().sum()

open      0
high      0
low       0
close     0
volume    0
Name      0
dtype: int64

In [ ]:
close=pd.DataFrame({"AAPL":Stock_analysis1["close"],
                    "AMZN":Stock_analysis2["close"],
                   "GOOGL":Stock_analysis3["close"],
                   "MSFT": Stock_analysis4["close"]})

In [ ]:
close

                AAPL      AMZN      GOOGL    MSFT
date
2013-02-08   67.8542   261.950   393.0777  27.550
2013-02-11   68.5614   257.210   391.6012  27.860
2013-02-12   66.8428   258.700   390.7403  27.880
2013-02-13   66.7156   269.470   391.8214  28.030
2013-02-14   66.6556   269.240   394.3039  28.040
2013-02-15   65.7371   265.090   396.8414  28.010
2013-02-19   65.7128   269.750   403.8284  28.045
2013-02-20   64.1214   266.410   396.6262  27.870
2013-02-21   63.7228   265.940   398.1628  27.490
2013-02-22   64.4014   265.420   400.2549  27.760
2013-02-25   63.2571   259.870   395.7804  27.370
2013-02-26   64.1385   259.360   395.4601  27.370
2013-02-27   63.5099   263.250   400.2899  27.810
2013-02-28   63.0571   264.270   401.0006  27.800
2013-03-01   61.4957   265.740   403.4981  27.950
2013-03-04   60.0071   273.110   411.1628  28.150
2013-03-05   61.5919   275.590   419.7213  28.350
2013-03-06   60.8088   273.790   416.1057  28.090
2013-03-07   61.5117   273.880   416.7143  28.140
2013-03-08   61.6742   274.190   416.1758  28.000
2013-03-11   62.5528   271.240   417.8274  27.870
2013-03-12   61.2042   274.130   414.2188  27.910
2013-03-13   61.1928   275.100   413.0677  27.915
2013-03-14   61.7857   265.740   411.1808  28.135
2013-03-15   63.3799   261.820   407.5582  28.035
2013-03-18   65.1028   257.890   404.2989  28.100
2013-03-19   64.9271   256.410   406.0657  28.180
2013-03-20   64.5828   257.278   407.7614  28.315
2013-03-21   64.6756   253.390   406.0356  28.110
2013-03-22   65.9871   257.750   405.5602  28.250
...              ...       ...        ...     ...
2017-12-26  170.5700  1176.760  1065.8500  85.400
2017-12-27  170.6000  1182.260  1060.2000  85.710
2017-12-28  171.0800  1186.100  1055.9500  85.720
2017-12-29  169.2300  1169.470  1053.4000  85.540
2018-01-02  172.2600  1189.010  1073.2100  85.950
2018-01-03  172.2300  1204.200  1091.5200  86.350
2018-01-04  173.0300  1209.590  1095.7600  87.110
2018-01-05  175.0000  1229.140  1110.2900  88.190
2018-01-08  174.3500  1246.870  1114.2100  88.280
2018-01-09  174.3300  1252.700  1112.7900  88.220
2018-01-10  174.2900  1254.330  1110.1400  87.820
2018-01-11  175.2800  1276.680  1112.0500  88.080
2018-01-12  177.0900  1305.200  1130.6500  89.600
2018-01-16  176.1900  1304.860  1130.7000  88.350
2018-01-17  179.1000  1295.000  1139.1000  90.140
2018-01-18  179.2600  1293.320  1135.9700  90.100
2018-01-19  178.4600  1294.580  1143.5000  90.000
2018-01-22  177.0000  1327.310  1164.1600  91.610
2018-01-23  177.0400  1362.540  1176.1700  91.900
2018-01-24  174.2200  1357.510  1171.2900  91.820
2018-01-25  171.1100  1377.950  1182.1400  92.330
2018-01-26  171.5100  1402.050  1187.5600  94.060
2018-01-29  167.9600  1417.680  1186.4800  93.920
2018-01-30  166.9700  1437.820  1177.3700  92.740
2018-01-31  167.4300  1450.890  1182.2200  95.010
2018-02-01  167.7800  1390.000  1181.5900  94.260
2018-02-02  160.5000  1429.950  1119.2000  91.780
2018-02-05  156.4900  1390.000  1062.3900  88.000
2018-02-06  163.0300  1442.840  1084.4300  91.330
2018-02-07  159.5400  1416.780  1055.4100  89.610

[1259 rows x 4 columns]

In [ ]:
a=close.corr(method='pearson', min_periods=1)

In [ ]:
sns.heatmap(a,annot=True)

In [ ]:
#plt.imshow(close, cmap='hot', interpolation='none')
#plt.colorbar()
#plt.xticks(range(len(close)), close.columns)
#plt.yticks(range(len(close)), close.columns)
#plt.gcf().set_size_inches(30,20)

In [ ]:
a.plot(grid =True , figsize=(20,10))
plt.title("Correlation")
plt.show()

In [ ]:
close.plot(grid =True , figsize=(20,10))
plt.title("Correlation")
plt.show()

In [ ]:
#names=["AAPL","AMZN","GOOGL","MSFT"]
#fig = plt.figure()
#ax = fig.add_subplot(111)
#cax = ax.matshow(a, vmin=-1, vmax=1)
#fig.colorbar(cax)
#ticks = np.arange(0,9,1)
#ax.set_xticks(ticks)
#ax.set_yticks(ticks)
#ax.set_xticklabels(names)
#ax.set_yticklabels(names)
#plt.figimage(20)
#plt.gcf().set_size_inches(10,20)
#plt.show()

In [ ]:
#corr = data.corr()
#fig = plt.figure()
#ax = fig.add_subplot(111)
#cax = ax.matshow(a,cmap='jet', vmin=-1, vmax=1)
#fig.colorbar(cax)
#ticks = np.arange(0,len(close.columns),1)
#ax.set_xticks(ticks)
#plt.xticks(rotation=90)
#ax.set_yticks(ticks)
#ax.set_xticklabels(close.columns)
#ax.set_yticklabels(close.columns)
#plt.gcf().set_size_inches(10,10)
#plt.show()
from matplotlib.offsetbox import AnchoredText

In [ ]:
Stock_analysis4["MA50"]=Stock_analysis4["close"].rolling(50).mean()
Stock_analysis4["MA100"]=Stock_analysis4["close"].rolling(100).mean()

In [ ]:
Stock_analysis1["MA50"]=Stock_analysis1["close"].rolling(50).mean()
Stock_analysis1["MA100"]=Stock_analysis1["close"].rolling(100).mean()

In [ ]:

Stock_analysis4["MA50"]=Stock_analysis4["close"].rolling(50).mean()
Stock_analysis4["MA100"]=Stock_analysis4["close"].rolling(100).mean()

Stock_analysis4[["close","MA50","MA100"]].plot(label="MSFT",figsize=(16,8))
plt.title("MOVING AVERAGE")
#plt.plot(label="Amd")


#add_titlebox(plt, 'Histogram: home age')
#plt.text(1, 1, 'Brackmard minimum')
ax = plt.gca()
#text(0.1, 0.9,'matplotlib', ha='center', va='center', transform=ax.transAxes)
ax.set_ylabel('90d moving average: CBOE VIX',fontsize=20)
plt.grid()
Stock_analysis1["MA50"]=Stock_analysis1["close"].rolling(50).mean()
Stock_analysis1["MA100"]=Stock_analysis1["close"].rolling(100).mean()
Stock_analysis1[["close","MA50","MA100"]].plot(figsize=(16,8))

#Stock_analysis4["date"].plot()
#Stock_analysis4["date"].plot()
plt.grid()
#xlim(["date"])
plt.show()

In [ ]:
Stock_analysis4[50:51]